<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631160038197-9927e2lhitnok9fvturq77pgcn54runc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631160038197-9927e2lhitnok9fvturq77pgcn54runc</string>
	<key>API_KEY</key>
	<string>AIzaSyDBpUVLf1_JddV_B2fa05JuLFXsFDkuJi4</string>
	<key>GCM_SENDER_ID</key>
	<string>631160038197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.emma.cordova.exampleionic</string>
	<key>PROJECT_ID</key>
	<string>mercurial-lamp-115916</string>
	<key>STORAGE_BUCKET</key>
	<string>mercurial-lamp-115916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631160038197:ios:b43550c40502de6dc9e27c</string>
	<key>DATABASE_URL</key>
	<string>https://mercurial-lamp-115916.firebaseio.com</string>
</dict>
</plist>