.square-green {
    height: 40%;
    background-color: #00a263; 
  }
  .square-green img{
    opacity: 0.5;
    max-width: 75%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    translate: pos;
  }
  .square-green h2{
    color: white;
    text-align: center;
  }